.backdrop.dark-mode {
    .backdrop-left-margin {
        border-right-color: map-get($dark-mode-colors, red);
    }

    .backdrop-right-margin {
        border-left-color: rgba(255, 120, 117, 0.33);
    }

    .backdrop-lines .backdrop-line {
        border-bottom-color: rgb(92, 219, 211);
    }
}

.backdrop.light-mode {
    .backdrop-left-margin {
        border-right-color:  map-get($light-mode-colors, red);
    }

    .backdrop-right-margin {
        border-left-color: rgba(245, 34, 45, 0.33);
    }

    .backdrop-lines .backdrop-line {
        border-bottom-color: rgb(19, 194, 194);
    }
}

%backdrop-position {
    position: absolute;
    background: transparent;
}

.backdrop {
    @extend %global-full-view-container;
    @extend %backdrop-position;
}

%backdrop-margin {
    @extend %backdrop-position;
    width: $global-side-bar-width;
    z-index: 1;
    top: 0px;
    height: 100%;
}

.backdrop-left-margin {
    @extend %backdrop-margin;
    border-right: 2px solid;
    left: 0px;
}

.backdrop-right-margin {
    @extend %backdrop-margin;
    border-left: 2px solid;
    right: 0px;
}

%backdrop-flex {
    flex: 1;
    flex-direction: column;
    display: flex;
}

.backdrop-lines {
    @extend %backdrop-flex;
    left: 0px;
    top: 0px;
    z-index: 0;
}

.backdrop-line {
    flex-basis: $global-line-height;
    border-bottom: 1px solid;
}

.backdrop-line:first-child {
    flex-basis: $global-top-bar-height;
}

.backdrop-binder-holes {
    @extend %backdrop-flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}

.backdrop-binder-hole {
    background-color: #262626;
    border-radius: 50%;
    height: $global-line-height;
    width: $global-line-height;
    -moz-box-shadow: inset -3px 3px 8px 0px #e8e8e8; 
    -webkit-box-shadow: inset -3px 3px 8px 0px #e8e8e8; 
    box-shadow: inset -3px 3px 8px 0px #e8e8e8; 
}