.header.dark {
    .header-combo-container {
        .combo-1 {
            color: map-get($dark-colors, green);
        }
        
        .combo-2 {
            color: map-get($dark-colors, orange);
        }
        
        .combo-3 {
            color: map-get($dark-colors, red);
        }
    }
}

.header.light {
    .header-combo-container {
        .combo-1 {
            color: map-get($light-colors, green);
        }
        
        .combo-2 {
            color: map-get($light-colors, orange);
        }
        
        .combo-3 {
            color: map-get($light-colors, red);
        }
    }
}

.light {
    .header-combo-container .combo-bar-base {
        color: map-get($light-colors, foreground);
    }
}

.dark {
    .header-combo-container .combo-bar-base {
        color: map-get($dark-colors, foreground);
    }
}

.combo-bar-overlay {
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 800;
    margin-top: -46px;
}