@each $mode in 
    game-over,
    new-game,
    player-name,
    paused,
    quit-confirmation,
    select-difficulty,
    high-scores,
    view-mode {
        .game-overlay-#{$mode}-text {
            @extend %global-flex-row;
            width: 100%;
            text-decoration: underline;
            letter-spacing: 0.1em;
            justify-content: center;
            margin-bottom: 20px;
        }

        .game-overlay-container.dark .game-overlay {
            .game-overlay-#{$mode}-text {
                color: map-get($dark-colors, foreground);
            }
        }

        .game-overlay-container.light .game-overlay {
            .game-overlay-#{$mode}-text {
                color: map-get($light-colors, foreground);
            }
        }
}

%game-overlay-flex {
    @extend %global-flex-column;
    @extend %global-centering;
}

.game-overlay-container {
    @extend %global-full-view-container;
}

.game-overlay-button-panel {
    @extend %game-overlay-flex;
    margin-bottom: 10px;
}

.game-overlay-button {
    font-size: 30px;
    outline: none;
    cursor: pointer;
    margin: 10px;
    background: inherit;
    border: none;
    padding: 3px 20px 5px 20px;
    border-width: 1px;
}

.game-overlay-button:active,
.game-overlay-button:hover,
.game-overlay-button:focus {
    outline: none;
}

.dark.game-overlay-container {
    .game-overlay {
        background-color: rgba(0, 0, 0, .5);
    }

    .game-overlay .game-overlay-button-panel {
        button {
            color: map-get($dark-colors, foreground);
        }

        .game-overlay-selected-option {
            border-color: map-get($dark-colors, red);
        }
    }
}

.light.game-overlay-container {
    .game-overlay {
        background-color: rgba(150, 150, 150, .5);
    }

    .game-overlay .game-overlay-button-panel {  
        button {
            color: map-get($light-colors, foreground);
        }

        .game-overlay-selected-option {
            border-color: map-get($light-colors, red);
        }
    }
}

.game-overlay {
    @extend %game-overlay-flex;
    @extend %global-full-view-container;
    font-size: 120px;
    flex: 1;
    position: absolute;
    z-index: 3;
}

.game-overlay-selected-option {
    font-size: 32px;
    border-radius: 50%;
    border: 1px solid;
    padding: 20px 50px;
}

.game-overlay-high-score {
    @extend %global-flex-column;
    font-size: 20px;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.game-overlay-high-scores-listings {
    @extend %global-flex-row;
    flex: 1;
    width: 100%;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: start;

    .game-overlay-high-scores-listing:first-child {
        padding: 0px 20px 0px $global-side-bar-width + 5;
    }

    .game-overlay-high-scores-listing:last-child {
        padding: 0px $global-side-bar-width + 5 0px 20px;
    }

    .game-overlay-high-scores-listing {
        flex-basis: 50%;

        .game-overlay-no-high-scores {
            text-align: center;
            font-size: 35px;
            padding: 10px 0px;
        }

        .game-overlay-high-scores-listing-title {
            text-align: center;
            border-bottom: 2px solid;
            margin-bottom: 10px;
            font-weight: bold;
            font-size: 40px;
            padding-bottom: 8px;
        }

        .game-overlay-high-score {
            border-bottom: 1px dashed;
            margin-bottom: 5px;
            font-size: 30px;
        }

        .game-overlay-high-score div {
            @extend %global-flex-row;
            flex: 1;
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }
    }

    .dark.game-overlay-high-scores-listing {
        .game-overlay-high-scores-listing-title, .game-overlay-high-score, .game-overlay-no-high-scores {
            color: map-get($dark-colors, foreground);
        }        
    }

    .light.game-overlay-high-scores-listing {
        .game-overlay-high-scores-listing-title, .game-overlay-high-score, .game-overlay-no-high-scores {
            color: map-get($light-colors, foreground);
        }
    }

    .game-overlay-high-scores-listing-separator {
        flex-basis: 2px;
        height: 100%;
    }

    .dark.game-overlay-high-scores-listing-separator {
        background-color: map-get($dark-colors, foreground);
    }

    .light.game-overlay-high-scores-listing-separator {
        background-color: map-get($light-colors, foreground);
    }
}

$game-overlay-color-maps: (
    dark: (
        0: map-get($dark-colors, red),
        1: map-get($dark-colors, orange),
        2: map-get($dark-colors, yellow),
        3: map-get($dark-colors, green),
        4: map-get($dark-colors, blue),
        5: map-get($dark-colors, violet)
    ),
    light: (
        0: map-get($light-colors, red),
        1: map-get($light-colors, orange),
        2: map-get($light-colors, yellow),
        3: map-get($light-colors, green),
        4: map-get($light-colors, blue),
        5: map-get($light-colors, violet)
    )
);

@each $view, $color-map in $game-overlay-color-maps {
    @keyframes #{$view}GameOverlayTile {
        @for $i from 0 to 5 {
            #{$i * 16% + 4} {
                @include tileBorder(map-get($color-map, $i), map-get($color-map, $i + 1), map-get($color-map, $i + 1), map-get($color-map, $i));
            }

            #{$i * 16% + 8} {
                @include tileBorder(map-get($color-map, $i), map-get($color-map, $i), map-get($color-map, $i + 1), map-get($color-map, $i + 1));
            }

            #{$i * 16% + 12} {
                @include tileBorder(map-get($color-map, $i + 1), map-get($color-map, $i), map-get($color-map, $i), map-get($color-map, $i + 1));
            }
            
            #{$i * 16% + 16} {
                @include tileBorder(map-get($color-map, $i + 1), map-get($color-map, $i + 1), map-get($color-map, $i), map-get($color-map, $i));
            }
        }
    }   
}

.game-overlay-tile {
    @extend %global-tile;
    width: 0px;
    height: 0px;
    top: 50px;
    position: relative;
}

.dark.game-overlay-tile {
    @include tileBorder(map-get($dark-colors, foreground), map-get($dark-colors, foreground), map-get($dark-colors, foreground), map-get($dark-colors, foreground));
    animation: darkGameOverlayTile ease 8s infinite;
}

.light.game-overlay-tile {
    @include tileBorder(map-get($light-colors, foreground), map-get($light-colors, foreground), map-get($light-colors, foreground), map-get($light-colors, foreground));
    animation: lightGameOverlayTile ease 8s infinite;
}

.game-overlay-tile:first-child {
    left: -20px;
}

.game-overlay-tile:last-child {
    left: 15px;
}

.game-overlay-player-name-input-container {
    font-size: 80px;
    margin-bottom: 50px;

    input {
        background: transparent;
        border: none;
        border-bottom: 2px solid;
        font-size: 40px;
    }

    input.dark {
        border-bottom-color: map-get($dark-colors, foreground);
        color: map-get($dark-colors, foreground);
    }

    input.light {
        border-bottom-color: map-get($light-colors, foreground);
        color: map-get($light-colors, foreground);
    }

    input, input:focus, input:active, input:hover {
        outline: none;
    }
}