.game {
    @extend %global-full-view-container;
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
}

.header {
    @extend %global-flex-row;
    width: 100%;
    top: 0px;
    position: absolute;
    font-size: 35px;
    padding: 10px 0px 10px 0px;
    justify-content: space-between;
    flex: 1;
    margin-right: $global-side-bar-width + 10;
    flex-wrap: nowrap;
    max-height: 100px;
}

.header-pause, .header-theme {
    cursor: pointer;
    width: $global-side-bar-width;
    z-index: 5;
    text-align: center;
    padding-top: 7px;
    font-size: 50px;
}

.header-pause {
    margin-right: 10px;
}

.header-theme {
    margin-left: 10px;
}

.light {
    .header-name, .header-score, .header-stage, .header-pause, .header-theme {
        color: map-get($light-colors, foreground);
    }
}

.dark {
    .header-name, .header-score, .header-stage, .header-pause, .header-theme {
        color: map-get($dark-colors, foreground);
    }
}

.header-left-hud, .header-right-hud {
    display: flex;
    flex-direction: row;
}

.header-left-sub-hud, .header-right-sub-hud  {
    display: flex;
    flex-direction: column;
}