.game {
    @extend %global-full-view-container;
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
}

$header-side-margin-width: $global-side-bar-width + 10;

.header {
    @extend %global-flex-row;
    width: 100%;
    top: 0px;
    position: absolute;
    font-size: 35px;
    padding: 10px 0px 10px 0px;
    justify-content: space-between;
    flex: 1;
    margin-left: $header-side-margin-width;
    margin-right: $header-side-margin-width;
    flex-wrap: nowrap;
    max-height: 100px;
}

.header-score {
    margin-right: $header-side-margin-width + 90;
}

.light {
    .header-name, .header-score, .header-stage {
        color: map-get($light-colors, foreground);
    }
}

.dark {
    .header-name, .header-score, .header-stage {
        color: map-get($dark-colors, foreground);
    }
}

.header-left-hud {
    display: flex;
    flex-direction: column;
}