@font-face {
    font-family: 'IBMPlexSansCondensed-Light';
    src: url('../../fonts/IBMPlexSansCondensed-Light.ttf')  format('truetype')
}

$global-line-height: 25px;
$global-header-height: 100px;
$global-side-bar-width: 75px;

$dark-colors: (
    background: #595959,
    midground: #8c8c8c,
    foreground: #d9d9d9,
    red: #ff4d4f,
    blue: #40a9ff,
    green: #73d13d,
    orange: #ffa940,
    yellow: #ffec3d,
    violet: #9254de
);

$light-colors: (
    background: #f5f5f5,
    midground: #bfbfbf,
    foreground: #595959,
    red: #cf1322,
    blue: #096dd9,
    green: #389e0d,
    orange: #d46b08,
    yellow: #d4b106,
    violet: #531dab
);

$color-maps: (
    dark: $dark-colors,
    light: $light-colors
);

body {
    margin: 0px;
    font-weight: 200;
}

body, button, input {
    font-family: 'IBMPlexSansCondensed-Light', Fallback, serif;
}

%global-full-view-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

%global-flex-column {
    flex-direction: column;
    display: flex;
}

%global-flex-row {
    flex-direction: row;
    display: flex;
}

%global-centering {
    justify-content: center;
    align-items: center;
}

html, body, #endure {
    @extend %global-full-view-container;
}

.hide {
    display: none;
}