$global-line-height: 25px;
$global-top-bar-height: 100px;
$global-side-bar-width: 75px;

$dark-mode-colors: (
    background: #595959,
    foreground: #d9d9d9,
    red: #ff4d4f,
    blue: #40a9ff,
    green: #73d13d,
    orange: #ffa940,
    yellow: #ffec3d,
    violet: #9254de
);

$light-mode-colors: (
    background: #f5f5f5,
    foreground: #595959,
    red: #cf1322,
    blue: #096dd9,
    green: #389e0d,
    orange: #d46b08,
    yellow: #d4b106,
    violet: #531dab
);

$color-maps: (
    dark: (
        0: map-get($dark-mode-colors, red),
        1: map-get($dark-mode-colors, orange),
        2: map-get($dark-mode-colors, yellow),
        3: map-get($dark-mode-colors, green),
        4: map-get($dark-mode-colors, blue),
        5: map-get($dark-mode-colors, violet)
    ),
    light: (
        0: map-get($light-mode-colors, red),
        1: map-get($light-mode-colors, orange),
        2: map-get($light-mode-colors, yellow),
        3: map-get($light-mode-colors, green),
        4: map-get($light-mode-colors, blue),
        5: map-get($light-mode-colors, violet)
    )
);

body {
    margin: 0px;
    font-weight: 200;
}

body, button {
    font-family: 'Times New Roman', Times, serif;
}

%global-full-view-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

%global-flex-column {
    flex-direction: column;
    display: flex;
}

%global-flex-row {
    flex-direction: row;
    display: flex;
}

%global-centering {
    justify-content: center;
    align-items: center;
}

html, body, #endure {
    @extend %global-full-view-container;
}

.hide {
    display: none;
}

%global-tile {
    padding: 10px;
    border: 10px solid;
    transform: rotate(45deg);
}