.grid-backdrop {
    border: 1px solid;
    position: relative;
    margin: auto;
}

.grid-backdrop {
    .grid-backdrop-row:not(:last-child) {
        border-bottom: 1px solid;
    }

    .grid-backdrop-row {
        .grid-backdrop-space:not(:last-child) {
            border-right: 1px solid;
        }
    }
}

.dark {
    .grid-backdrop {
        background-color: map-get($dark-colors, background);
        border-color: map-get($dark-colors, foreground);
        
        .grid-backdrop-row {
            border-color: map-get($dark-colors, foreground);
            
            .grid-backdrop-space {
                border-color: map-get($dark-colors, foreground);
            }
        }
    }
}

.light {
    .grid-backdrop {
        background-color: map-get($light-colors, background);
        border-color: map-get($light-colors, foreground);
        
        .grid-backdrop-row {
            border-color: map-get($light-colors, foreground);
            
            .grid-backdrop-space {
                border-color: map-get($light-colors, foreground);
            }
        }
    }
}

.grid-backdrop-space {
    display: inline-block;
    height: 58px;
    width: 58px;
}

.grid-backdrop-row {
    height: 58px;
}