$spacePixelDimension: 25px;
$numberOfSpacesWide: 10;
$numberOfSpacesHigh: 20;

.grid {
    position: relative;
    margin: auto;
}

.grid-line {
    border-bottom: 1px solid #000000;
    margin: 5px 0px;
}