$menu-bar-side-margin-width: $global-side-bar-width + 10;

.menu-bar {
    width: 100%;
    top: 0px;
    position: absolute;
    font-size: 35px;
    padding: 10px 0px 10px 0px;
    justify-content: space-between;
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-left: $menu-bar-side-margin-width;
    margin-right: $menu-bar-side-margin-width;
    flex-wrap: nowrap;
    max-height: 100px;
}

.menu-bar.dark-mode {
    .menu-bar-combo-container {
        .healthy-combo {
            color: map-get($dark-mode-colors, green);
        }
        
        .warning-combo {
            color: map-get($dark-mode-colors, orange);
        }
        
        .danger-combo {
            color: map-get($dark-mode-colors, red);
        }
    }

    .menu-bar-score, .menu-bar-combo {
        color: map-get($dark-mode-colors, foreground);
    }
}

.menu-bar.light-mode {
    .menu-bar-combo-container {
        .healthy-combo {
            color: map-get($light-mode-colors, green);
        }
        
        .warning-combo {
            color: map-get($light-mode-colors, orange);
        }
        
        .danger-combo {
            color: map-get($light-mode-colors, red);
        }
    }

    .menu-bar-score, .menu-bar-combo {
        color: map-get($light-mode-colors, foreground);
    }
}

.menu-bar-combo-container {
    margin-top: 45px;
}

.menu-bar-count-down {
    margin-left: 5px;
}

.menu-bar-count-down {
    span:last-child, span:first-child {
        font-size: 30px;
    }

    span:nth-child(2) {
        font-size: 24px;
    }

    span:nth-child(4) {
        font-size: 16px;
    }
}

.menu-bar-score {
    margin-top: 50px;
    margin-right: $menu-bar-side-margin-width + 90;
}