$menu-bar-side-margin-width: $side-bar-width + 10;

.menu-bar {
    width: 100%;
    top: 0px;
    position: absolute;
    font-size: 20px;
    padding: 10px 0px 10px 10px;
    justify-content: space-between;
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-left: $menu-bar-side-margin-width;
    margin-right: $menu-bar-side-margin-width;
    flex-wrap: nowrap;
    max-height: 100px;
}

.menu-bar.dark-mode .menu-bar-combo-container {
    .healthy-combo {
        color: #52c41a;
    }
    
    .warning-combo {
        color: #faad14;
    }
    
    .danger-combo {
        color: #f5222d;
    }
}

.menu-bar.light-mode .menu-bar-combo-container {
    .healthy-combo {
        color: #237804;
    }
    
    .warning-combo {
        color: #ad6800;
    }
    
    .danger-combo {
        color: #a8071a;
    }
}

.menu-bar-combo-container {
    margin-top: 40px;
}

.menu-bar-count-down {
    margin-left: 5px;
}

.menu-bar-count-down {
    span:last-child, span:first-child {
        font-size: 30px;
    }

    span:nth-child(2) {
        font-size: 24px;
    }

    span:nth-child(4) {
        font-size: 16px;
    }
}

.menu-bar-score {
    margin-top: 50px;
    margin-right: $menu-bar-side-margin-width + 100;
}