$colors: (
    green: (
        lowest: rgb(19, 82, 0),
        low: rgb(56, 158, 13),
        high: rgb(115, 209, 61),
        highest: rgb(183, 235, 143)
    ),
    blue: (
        lowest: rgb(6, 17, 120),
        low: rgb(29, 57, 196),
        high: rgb(89, 126, 247),
        highest: rgb(173, 198, 255)
    ),
    red: (
        lowest: rgb(130, 0, 20),
        low: rgb(207, 19, 34),
        high:  rgb(255, 77, 79),
        highest: rgb(255, 163, 158)
    ),
    violet: (
        lowest: rgb(34, 7, 94),
        low: rgb(83, 29, 171),
        high: rgb(146, 84, 222),
        highest: rgb(211, 173, 247)
    ),
    orange: (
        lowest: rgb(135, 56, 0),
        low: rgb(212, 107, 8),
        high: rgb(255, 169, 64),
        highest: rgb(255, 213, 145)
    ),
    yellow: (
        lowest: rgb(135, 104, 0),
        low: rgb(250, 219, 20),
        high: rgb(255, 236, 61),
        highest: rgb(255, 251, 143)
    )
);

@mixin tile() {
    position: absolute;
}

@-webkit-keyframes AnimateTile {
    0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes AnimateTile {
    0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes AnimateTile { 
    0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@mixin animatedTile() {
    @include tile();
    -webkit-animation: AnimateTile 2.5s ease infinite;
    -moz-animation: AnimateTile 2.5s ease infinite;
    animation: AnimateTile 2.5s ease infinite;
    background-size: 300% 300%;
}

@each $color-primary, $map-primary in $colors {
    $lowest-primary: map-get($map-primary, lowest);
    $low-primary: map-get($map-primary, low);
    $high-primary: map-get($map-primary, high);
    $highest-primary: map-get($map-primary, highest);

    @each $color-secondary, $map-secondary in $colors {
        $lowest-secondary: map-get($map-secondary, lowest);
        $low-secondary: map-get($map-secondary, low);
        $high-secondary: map-get($map-secondary, high);
        $highest-secondary: map-get($map-secondary, highest);

        @if $low-primary != $low-secondary {
            .dark .tile-#{$color-primary}-#{$color-secondary} {
                background: linear-gradient(-45deg, $high-primary, $lowest-primary, $high-secondary, $lowest-secondary);
                @include animatedTile();
            }

            .light .tile-#{$color-primary}-#{$color-secondary} {
                background: linear-gradient(-45deg, $highest-primary, $low-primary, $highest-secondary, $low-secondary);
                @include animatedTile();
            }
        }
    }
}

.dark .dead-tile {
    @include tile();
    background: #f2f2f2;
}

.light .dead-tile {
    @include tile();
    background: #3d3d3d;
}