%tile {
    position: absolute;
    height: 50px;
    width: 50px;
}

@each $view, $color-map in $color-maps {
    @each $key, $color in $color-map {
        .#{$view} .tile-#{$key} {
            @extend %tile;
            background-color: $color;
        }
    }
}

.light .tile {
    @extend %tile;
    background-color: map-get($light-colors, midground);
}


.dark .tile {
    @extend %tile;
    background-color: map-get($dark-colors, midground);
}