%tile {
    position: absolute;
}

%tile-highlighted {
    z-index: 2;
}

.light-tile-highlighted {
    @extend %tile-highlighted;
    box-shadow: 0px 1px 10px 4px rgba(0, 0, 0, 0.75);
}


.dark-tile-highlighted {
    @extend %tile-highlighted;
    box-shadow: 0px 1px 10px 4px rgba(255, 255, 255, 0.75);
}

@each $theme, $color-map in $color-maps {
    @each $key, $color in $color-map {
        @if $key == 'foreground' {
            .#{$theme} .tile-grey {
                @extend %tile;
                background-color: $color;
            }
        } @else if ($key != 'background' && $key != 'midground') {
            .#{$theme} .tile-#{$key} {
                @extend %tile;
                background-color: $color;
            }
        }
    }
}

.tile-transparent {
    background-color: transparent;
}

.light {
    .tile {
        @extend %tile;
        background-color: map-get($light-colors, midground);
    }
}


.dark {
    .tile {
        @extend %tile;
        background-color: map-get($dark-colors, midground);
    }
}

.tile-link-none {
    border-radius: 50%;
}

.tile-link-all,
.tile-link-top-right-bottom,
.tile-link-right-bottom-left,
.tile-link-bottom-left-top,
.tile-link-top-right-left,
.tile-link-top-bottom,
.tile-link-right-left {
    border-radius: 0%;
}

.tile-link-top {
    border-radius: 0% 0% 50% 50%;
}

.tile-link-right {
    border-radius: 50% 0% 0% 50%;
}

.tile-link-bottom {
    border-radius: 50% 50% 0% 0%;
}

.tile-link-left {
    border-radius: 0% 50% 50% 0%;
}

.tile-link-right-bottom {
    border-radius: 50% 0% 0% 0%;
}

.tile-link-bottom-left {
    border-radius: 0% 50% 0% 0%;
}

.tile-link-top-left {
    border-radius: 0% 0% 50% 0%;
}

.tile-link-top-right {
    border-radius: 0% 0% 0% 50%;
}