$top-bar-side-margin-width: $global-side-bar-width + 10;

.top-bar {
    @extend %global-flex-row;
    width: 100%;
    top: 0px;
    position: absolute;
    font-size: 35px;
    padding: 10px 0px 10px 0px;
    justify-content: space-between;
    flex: 1;
    margin-left: $top-bar-side-margin-width;
    margin-right: $top-bar-side-margin-width;
    flex-wrap: nowrap;
    max-height: 100px;
}

.top-bar.dark {
    .top-bar-combo-container {
        .healthy-combo {
            color: map-get($dark-colors, green);
        }
        
        .warning-combo {
            color: map-get($dark-colors, orange);
        }
        
        .danger-combo {
            color: map-get($dark-colors, red);
        }
    }

    .top-bar-score, .top-bar-combo {
        color: map-get($dark-colors, foreground);
    }
}

.top-bar.light {
    .top-bar-combo-container {
        .healthy-combo {
            color: map-get($light-colors, green);
        }
        
        .warning-combo {
            color: map-get($light-colors, orange);
        }
        
        .danger-combo {
            color: map-get($light-colors, red);
        }
    }

    .top-bar-score, .top-bar-combo {
        color: map-get($light-colors, foreground);
    }
}

.top-bar-combo-container {
    margin-top: 45px;
}

.top-bar-count-down {
    margin-left: 5px;
}

.top-bar-count-down {
    span:last-child, span:first-child {
        font-size: 30px;
    }

    span:nth-child(2) {
        font-size: 24px;
    }

    span:nth-child(4) {
        font-size: 16px;
    }
}

.top-bar-score {
    margin-top: 50px;
    margin-right: $top-bar-side-margin-width + 90;
}